#clearScreen {
	font-family: "Times New Roman";
	height: 85vh;
	background-color: rgba(88,90,90,0.5);
	position: relative;
	margin-top: 2%;
	margin-right: 5%;
	margin-left: 5%;
	margin-bottom: 2%;
	font-size: 3vmin;
	text-shadow: 2px 2px 1px #000000;
	color: white;
	padding: 5%;

}

#aboutBox {
	background-color: rgba(68,114,148,0.9);
	height: 100%;
	border-right: 1px solid white;
	border-left: 1px solid white;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	padding-top: 1%;
	font-family: Georgia, serif;
	padding: 2%;

}

.introName {
	text-align: center;
	font-size: 10vmax;
	color: white;

}

.sticky {
	width: 100%;

}

.menuButtonCol {
	background-color: #5086af;
}

#stickyTop {
	background-color: #447294;
	border-bottom: 1px solid white;


}

#githubLink {
	border: 1px solid #305069;
	padding: 2%;
	background-color: #5086af;

}

#topMenuBorder {
	border: 1px solid #305069;
}

#aboutTitle {
	text-align: center;
}

body { 
  background: url("http://i.imgur.com/5rIeNFt.jpg?1") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pictureContainer {
	float: left;
	height: 15vh;
	overflow: hidden;
	border-bottom: 2px solid white;
	width: 100%;
}
.pictureContainer img {
	float: right;
	overflow: hidden;
	width: 100%;
	transform: translate3d(0px, 0px, 0px);
	transition: transform 1.7s ease-in-out;
}

/* for the parallax

.pictureContainer img:hover {
  transform: translate3d(-200px, 0px, 0px);
}

*/

.titleBoxDark {
	color: white;
	border: 2px solid white;
	background-color: black;
	opacity: 0.7;
}

.titleBoxLight {
	color: white;
	border: 2px solid white;
	text-align: center;
	background-color: black;
	opacity: 0.2;
}

#topMenu {
	font-size: 2.5vmin;
	font-family: "Times New Roman";
	background-color: #6577f3;
	text-shadow: 0px 1px #590059;
	border-bottom: 2px solid white;
}

#mainStruct {
	height: 100%;
	background-size: 100%;
	/*border-left: 1px solid gray;
	border-right: 1px solid gray;*/
}

#bottomFoot {
	padding-left: 1%;
	padding-top: 1px;
	padding-bottom: 2%;
	text-shadow: 1px 1px #93a8bf;
	font-size: 2vmin;
	color: white;
	border: 1px solid gray;

	height: 20px;
	background-color: #14222c;
	overflow: auto;
	margin-bottom: 1%;
}

#aboutMePic {
	border: 1px solid gray;
	padding-top: 1%;
	background-image: url("http://i.imgur.com/5O6NMuR.jpg?1");
	background-size: 100%;
	height: 35%;

}

#aboutMe {
	position: relative;
	padding-top: 1%;
	height: 2vh;
	color: white;
	font-family: 'Times New Roman';
  	text-shadow: 2px 2px #7c6789;
  	font-size: 5.9vmin;
	opacity: 0.95;
	text-align: left;

}

#aboutMeUnder {
	padding-top: 0%;
}

h3 {
	font-family: Georgia, serif;

}

#Projects {
	margin-top: 3%;
	font-family: Georgia, serif;
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 1%;
	padding-bottom: 1%;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	border-right: 1px solid white;
	border-left: 1px solid white;
	background-color: #447294;
	color: pink;
	text-align: center;
}

#webProject {
	padding-top: 1%;
	padding-bottom: 1%;
	font-family: Georgia, serif;
	background-color: #f1caa7;
	border-right: 1px solid white;
	border-left: 1px solid white;


}

#Project1 {
	font-family: Georgia, serif;
	height: 100%;
	padding-top: 1%;
	padding-bottom: 1%;
	background-color: #F4D6BC;
	border-top: 1px solid gray;
	border-right: 1px solid white;
	border-left: 1px solid white;
	border-bottom: 1px solid white;

}

#Project2 {
	height: 100vh;
	font-family: Georgia, serif;
	padding-top: 1%;
	padding-bottom: 1%;
	background-color: #F8E4CC;
	border-top: 1px solid gray;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
}

a:link {
    color: #053978;
}

#picShow {
	text-align: center;
}


ul.enlarge{
list-style-type:none; /*remove the bullet point*/
margin-left:0;
}
ul.enlarge li{
display:inline-block; /*places the images in a line*/
position: relative;
z-index: 0; /*resets the stack order of the list items - later we'll increase this*/
margin:10px 40px 0 20px;
}
ul.enlarge img{
background-color:#eae9d4;
padding: 6px;
-webkit-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
-moz-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
box-shadow: 0 0 6px rgba(132, 132, 132, .75);
-webkit-border-radius: 4px; 
-moz-border-radius: 4px; 
border-radius: 4px; 
}
ul.enlarge span{
position:absolute;
left: -9999px;
background-color:#eae9d4;
padding: 10px;
font-family: 'Droid Sans', sans-serif;
font-size:.9em;
text-align: center; 
color: #495a62; 
-webkit-box-shadow: 0 0 20px rgba(0,0,0, .75));
-moz-box-shadow: 0 0 20px rgba(0,0,0, .75);
box-shadow: 0 0 20px rgba(0,0,0, .75);
-webkit-border-radius: 8px; 
-moz-border-radius: 8px; 
border-radius:8px;
}
ul.enlarge li:hover{
z-index: 50;
cursor:pointer;
}
ul.enlarge span img{
padding:2px;
background:#ccc;
}
ul.enlarge li:hover span{ 
top: -300px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
left: -20px; /*distance from the left of the thumbnail to the left of the popup image*/
}
ul.enlarge li:hover:nth-child(2) span{
left: -100px; 
}
ul.enlarge li:hover:nth-child(3) span{
left: -200px; 
}
/**IE Hacks - see http://css3pie.com/ for more info on how to use CS3Pie and to download the latest version**/
ul.enlarge img, ul.enlarge span{
behavior: url(pie/PIE.htc); 
}

#TwitLine {
	text-align: center;
}

#ContactDetails {
	margin-top: 3%;
	background-color: #447294;
	font-family: Georgia, serif;
	border: 1px solid white;
	padding: 1%;
	height: 100%;

}

#moreLogos {
	text-align: center;
	background-color: #f1caa7;
	padding-bottom: 2%;
	border-bottom: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid right;
}

#pyLogo {
  padding-left: 1%;
  height: 104px;
  width: 104px;
  
}


#htmlLogo {
  padding-left: 1%;
  height: 104px;
  width: 104px;
  
}


#javaLogo {
  padding-left: 1%;
  height: 104px;
  width: 104px;
  
}

#rubyLogo {
  padding-left: 1%;
  height: 104px;
  width: 104px;
  
}


#phpLogo {
  padding-left: 1%;
  height: 56px;
  width: 104px;
  
}

#cLogo {
  padding-left: 1%;
  height: 104px;
  width: 104px;
  
}

.logo {
  
}

.logo:hover {
  box-shadow: 7px 7px 3px grey;
  transition-duration: 0.6s;
}

#moreInfoBox {
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	margin: 0 auto;
	text-align: center;
	width: 60vw;
	padding: 10%;
	height: 10vh;
	background-color: #3b3b3b;
	border-bottom: 1px solid black;
	border-right: 1px solid black;

}